@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'styles/index';


html, body {
  height: 100svh;
  color: theme('colors.custom.text');
  background-color: theme('colors.custom.background');
}
